@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  nav {
    @apply flex w-full items-center justify-between px-5 py-3;
  }
}

@layer components {
  .mainBtn {
    @apply items-center rounded-[4px] px-4 py-2.5 transition duration-300 ease-in-out;
  }

  .modalButton {
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }

  .sidebarLink {
    @apply flex h-12 cursor-pointer items-center space-x-2 overflow-hidden text-ellipsis whitespace-nowrap rounded py-7 px-4 text-sm text-gray-700 transition duration-300 ease-in-out hover:bg-[#7645d9] hover:bg-opacity-10;
  }

  .accountModal {
    @apply absolute  top-[67px] right-[5px] z-50 flex w-full max-w-[160px] flex-col items-start justify-center rounded-sm border-2   bg-white py-3 shadow-xl before:absolute before:bottom-full before:left-[80%] before:block before:-translate-x-1/2 before:rotate-180 before:border-8 before:border-b-0 before:border-transparent before:border-t-white before:content-[""];
  }

  .accountButton {
    @apply w-full py-2 px-3 hover:bg-[#7645d9] hover:bg-opacity-10;
  }

  .accountModalIcon {
    @apply text-lg text-gray-400 group-active:text-[#7645d9];
  }

  .accountModalSection {
    @apply flex items-center space-x-4 active:text-[#7645d9];
  }

  .subscriptionCard {
    @apply absolute left-0 top-0 flex h-full w-full flex-col cursor-pointer items-center space-y-3 rounded-[28px] bg-white transition duration-300 ease-in-out;
  }
}

#slider {
  perspective: 100%;
  transform-style: preserve-3d;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
  height: 260px;
  background-color: #F4F2FC;
  border-color: #896DE7;
  border-width: 2px;
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(30%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-30%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}
